.productMan {
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;

        b {
            color: green;
        }
    }

    button {
        margin-bottom: 15px;
    }

    &__image {
        width: 100px;
        height: 100px;
    }
    th {
        font-size: 15px !important;
        font-weight: bold !important;
    }
    
    td {
        font-size: 14px !important;
    }

    &__action {
        display: flex;
        align-items: center;
        gap: 0 15px;
        svg {
            cursor: pointer;
        }
    }

    &__group {
        display: flex;
        gap: 25px;
        margin-bottom: 15px;
        > div {
            width: 50%;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }

    &__row {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 15px;
        img {
            width: 100px;
            height: 100px;
        }
    }
}